api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"
    
providers:
  docker:
    endpoint: "tcp://docker-socket-proxy:2375"
    exposedByDefault: false
    watch: true
    network: media_network

log:
  level: "DEBUG"

accessLog: {}
